/** all styling for light mode **/

:root {
  --dark-border: 3px solid black;
  --light: white;
  --dark: black;
}

header {
  border-bottom: var(--dark-border);
}

main,
.blog-footer {
  border-top: var(--dark-border);
  border-bottom: var(--dark-border);
}

span,
#no-items {
  color: var(--dark);
}

figure {
  background-image: url(../images/nebulae_dark.png);
}

.left-pane {
  border-right: var(--dark-border);
}

.right-pane {
  border-left: var(--dark-border);
}

#button-submit,
.btn-back {
  color: var(--light);
  background-color: var(--dark);
}
#button-submit span {
  color: var(--dark);
}

#button-submit:hover,
.btn-back:hover {
  box-shadow: 5px 5px 10px slategrey;
}

.fa-satellite-dish {
  color: var(--light);
}
