/** Main consolidated css for not light/dark specifc
    machinations
**/

:root {
  /* left right margins */
  --lrm: 1em;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

/*space out the sun and moon */
.fa-sun,
.fa-moon {
  margin: var(--lrm);
  padding: 5px;
}

/* color the sun and moon */
.fa-sun {
  color: orange;
}
.fa-moon {
  color: white;
}

/* apply hover shadows to sun and moon */
.fa-sun:hover {
  box-shadow: 5px 5px 5px black;
}

.fa-moon:hover {
  box-shadow: 5px 5px 5px white;
}

/* general styling for the form */
form {
  padding: var(--lrm);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 45%;
  width: 75%;
}

h1 {
  margin: var(--lrm);
}

/* style heading on blog create */
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

/* style main for blog create */
main {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  height: 600px;
}

/* style for text in the nebulae */
figure span {
  font-size: xx-large;
}

/* style for the nebulae circle in left pane */
figure {
  height: 200px;
  width: 200px;
  padding: var(--lrm);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  border-radius: 200px;
  text-align: center;
  opacity: 75%;
  align-content: center;
}

/* spacing for form container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* general style for left/right panes */
.left-pane,
.right-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.blog-entry {
  border: 2px;
  margin: var(--lrm);
}

.left-pane {
  margin-right: 0.25em;
}

.right-pane {
  display: flex;
  flex-direction: column;
  margin-left: 0.25em;
}

input,
textarea {
  border-radius: 5px;
  line-height: 20px;
  padding: 3px;
}

label {
  font-weight: bold;
}

.button-submit {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.fa-satellite-dish {
  padding: 1px;
  margin: 1px;
}

/* general styling for the section with blog entries */
.entries {
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

/* general styling for blog entry article */
.entries article {
  width: 90%;
  border: 2px solid;
  padding: var(--lrm);
}
.entries h3 {
  border-bottom: 2px solid;
}

.blog-content {
  padding: var(--lrm);
}

.blog-author {
  margin-top: var(--lrm);
}

.list-header {
  justify-content: space-between;
  align-items: center;
}

.btn-back {
  padding: 0px var(--lrm) 0px var(--lrm);
  border-radius: 5px;
}

#error-msg {
  color: red;
}

.blog-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-footer h3 {
  text-align: center;
  width: 100%;
}
.blog-footer article {
  width: 95%;
  text-align: left;
}

.blog-footer li {
  list-style: none;
  text-align: left;
}

.blog-footer,
.list-header {
  outline-offset: 5px;
}

.blog-footer span {
  font-weight: bold;
  font-size: medium;
}
